body {
    min-width:1500px;;
    height:100%;
    color: rgb(2,6,18);
    margin:0px;
    text-align:justify;
    font-family:verdana;
    background: #ACA3E6;
    background-image: url(bg4.png);
    background-size: cover;
    background-attachment: fixed;      
    margin: 0px;
}

html {
    height:100%;
    width:100%;  
}

#bg {
    position:absolute;
    min-height: 1280px;
    width:100%;
    z-index: -10;
    background: #ACA3E6;
    animation-name: bgease;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes bgease {
    from {opacity: 1;}
    to {opacity: 0;}
}

@font-face {
    font-family: 'rubik';
    src:  url('font/rubik.ttf')
}

.pagepadd {
    padding:50px;
}

.headercontainer {
    background: rgb(95,97,175);
    background: linear-gradient(155deg, rgb(54 46 101) 25%, rgb(167 120 249) 71%, rgb(255 167 255) 100%);
    /*background: linear-gradient(155deg, rgba(95,97,175,1) 25%, rgba(138,112,180,1) 71%, rgba(190,143,191,1) 100%);*/
    padding-top:100px;
    padding-bottom:50px;
    height:320px;
    width:1100px;
    border-radius: 25px 25px 0px 0px;
}

.headerguy {
    float:right;
    position:relative;
    z-index:100;
    margin-top: -91px;
    object-fit: contain;
    margin-right:-50px;
}

.headercontainer h1 {
    font-size: 60px;
    margin-top:-80px;
    padding-left:78px;
    color: #fff7fb;
    text-shadow: 1px 0px rgba(230, 186, 236, 0.5), 0px -1px rgba(100, 93, 194, 0.5),
                -1px 0px rgba(186, 236, 213,.5), 0px 1px rgba(255, 184, 196, 0.5);
    font-family: "arial black";
    position: absolute;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.headersmall {
    padding: 5px;
    text-align: justify;
    padding-left: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.555);
    font-size: 10px;
    width: 200px;
    color: white;
    margin-top: -57px;
    margin-left: 250px;
}

.constellation1 {
    position:absolute;
    z-index: 999;
    top:20px;
    margin-left: -740px;
    width: 250px;
}

.constellation2 {
    position:absolute;
    z-index: 999;
    top: 310px;
    margin-left: 530px;
    width: 250px;    
}

.textboxheader {
    width:660px;
    text-align:justify;
    font-size:11px;
    opacity: 0.85;
    color: #ebdbff;
    margin-top:30px;
    -webkit-transform:translate3d(0,0,0);
    transform: translate3d(0,0,0);
    line-height:18px;
    margin-left:-320px;
    padding-right:30px;
    border-right: 1px solid rgba(255, 255, 255, 0.555);
    text-shadow: 1px 0px 3px rgb(18 15 43 / 20%), 0px -1px 3px rgb(18 15 43 / 20%), -1px 0px 3px rgb(18 15 43 / 20%), 0px 1px 3px rgb(18 15 43 / 20%);
}

.bar {
    background-color: #311f63;
    width:1100px;
    padding:20px;
    margin-top:-2px;
    background: linear-gradient(180deg, rgb(49, 31, 99) 40%, rgb(55, 46, 109) 100%);
    border-radius: 20px 0px;
}

.barbutton {
    position:sticky;
    display: inline-block;
    height:60px;
    width:78px;
    padding:5px;
    overflow:hidden;
    will-change: scroll-position;
    animation-name: butease;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.barbutton h1 {
    color:#FED5F4;
    font-family:arial;
    font-size: 11px;
    z-index: 40;
    line-height:85px;
    font-weight: normal;
    -webkit-transform:translate3d(0,0,0);
    transform: translate3d(0,0,0);
    position:sticky;
    margin-top:-33px;
    text-shadow: 1px 0px rgb(18 15 43 / 40%), 0px -1px rgb(18 15 43 / 40%), -1px 0px rgb(18 15 43 / 40%), 0px 1px rgb(18 15 43 / 40%);
    transition: .8s;
}

.barbutton span {
    z-index:30;
    color:#DF609C;
    font-size:40px;
    overflow:hidden;
    text-shadow: 1px 1px rgb(18 15 43 / 40%), 0px -1px rgb(18 15 43 / 40%), -1px 0px rgb(18 15 43 / 40%), 0px 1px rgb(18 15 43 / 40%);
}

@keyframes butease {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
.barbutton:hover span {
    color:#b43973;
}

.barbutton:hover h1 {
    letter-spacing: 1px;
    font-size: 11px;
    transition: .8s;
}

.corpus {
    width:1100px;
    font-size:13px;
    line-height: 20px;
    height:100%;
    background: rgb(10, 10, 20);
    color:rgb(230, 207, 230);
    -webkit-box-shadow: 0px 0px 10px -1px #28172c28;
    box-shadow: 0px 0px 10px -1px #28172c28;
    border-radius: 0px 0px 25px 25px;
}

.corpuspad {
    padding-top:40px;
    padding:50px;
    padding-bottom:50px;
    text-align:justify;
}